.slider::-webkit-scrollbar {
    display: none;
}

.slider {
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vw);
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
}

section {
    min-width: 100vw;
    height: 100%;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: calc(1rem + 3vw);
}

.wrapper {
    width: 40%;
}